**Practical 2(b,c)**

**Data Frames and Basic Data Pre-processing**

**B) Perform basic data pre-processing tasks such as handling missing values and
outliers.**

**C)Manipulate and transform data using functions like filtering, sorting, and
grouping.**

**T114 | Bhumika Shelar**

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()

In [ ]:
url = "/content/tested.csv"
df = pd.read_csv(url)
print(df.head(2))

   PassengerId  Survived  Pclass                              Name     Sex  \
0          892         0       3                  Kelly, Mr. James    male
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0  34.5      0      0  330911  7.8292   NaN        Q
1  47.0      1      0  363272  7.0000   NaN        S

In [ ]:
print("Dimensions: {}".format(df.shape))
df.describe

Dimensions: (418, 12)

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]>

In [ ]:
print(df.iloc[0])
print(df.iloc[1:4])
print(df.iloc[:4])

PassengerId                 892
Survived                      0
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                        34.5
SibSp                         0
Parch                         0
Ticket                   330911
Fare                     7.8292
Cabin                       NaN
Embarked                      Q
Name: 0, dtype: object
   PassengerId  Survived  Pclass                              Name     Sex  \
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female
2          894         0       2         Myles, Mr. Thomas Francis    male
3          895         0       3                  Wirz, Mr. Albert    male

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
1  47.0      1      0  363272  7.0000   NaN        S
2  62.0      0      0  240276  9.6875   NaN        Q
3  27.0      0      0  315154  8.6625   NaN        S
   PassengerId  Survived  Pclass                              Name     Sex  \
0          892         0       3                  Kelly, Mr. James    male
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female
2          894         0       2         Myles, Mr. Thomas Francis    male
3          895         0       3                  Wirz, Mr. Albert    male

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0  34.5      0      0  330911  7.8292   NaN        Q
1  47.0      1      0  363272  7.0000   NaN        S
2  62.0      0      0  240276  9.6875   NaN        Q
3  27.0      0      0  315154  8.6625   NaN        S

In [ ]:
df = df.set_index(df['Name'])
print(df.loc['Kelly, Mr. James'])

PassengerId                 892
Survived                      0
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                        34.5
SibSp                         0
Parch                         0
Ticket                   330911
Fare                     7.8292
Cabin                       NaN
Embarked                      Q
Name: Kelly, Mr. James, dtype: object

In [ ]:
df[df['Sex'] == 'female'].head(2)
df[(df['Sex'] == 'female')& (df['Age'] >= 65)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Cavendish, Mrs. Tyrell William (Julia Florence Siegel)",988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.85,C46,S

In [ ]:
df['Sex'].replace('female', 'Women').head(2)
df['Sex'].replace(['female', 'male'], ['Women','Man']).head(5)

Name
Kelly, Mr. James                                  Man
Wilkes, Mrs. James (Ellen Needs)                Women
Myles, Mr. Thomas Francis                         Man
Wirz, Mr. Albert                                  Man
Hirvonen, Mrs. Alexander (Helga E Lindqvist)    Women
Name: Sex, dtype: object

In [ ]:
df.replace(1, "One").head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Kelly, Mr. James",892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,One,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,One,0,363272,7.0000,NaN,S

In [ ]:
df.rename(columns={'Pclass': 'Passenger Class', 'Sex': 'Gender'}).head(2)

,PassengerId,Survived,Passenger Class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Kelly, Mr. James",892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [ ]:
print("Mean: {}".format(df['Age'].mean()))
print("Max: {}".format(df['Age'].max()))
print("Min: {}".format(df['Age'].min()))
print("Sum: {}".format(df['Age'].sum()))
print("Count: {}".format(df['Age'].count()))

Mean: 30.272590361445783
Max: 76.0
Min: 0.17
Sum: 10050.5
Count: 332

In [ ]:
print("Varience: {}".format(df['Age'].var()))
print("Standard Deviation: {}".format(df['Age'].std()))
print("Kurtosis: {}".format(df['Age'].kurt()))
print("Skewness: {}".format(df['Age'].skew()))

Varience: 201.10669538455937
Standard Deviation: 14.18120923562442
Kurtosis: 0.08378335153796135
Skewness: 0.4573612871503845

In [ ]:
df['Sex'].unique()
df['Sex'].value_counts()

Sex
male      266
female    152
Name: count, dtype: int64

In [ ]:
df[df['Age'].isnull()].head(2)
df.drop('Age', axis=1).head(2)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Kelly, Mr. James",892,0,3,"Kelly, Mr. James",male,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,0,363272,7.0000,NaN,S

In [ ]:
df[df['Sex'] != 'male'].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Wilkes, Mrs. James (Ellen Needs)",893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df[df['Name'] != 'Allison, Miss Helen Loraine'].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Kelly, Mr. James",892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [ ]:
df[df.index != 0].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Kelly, Mr. James",892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [ ]:
df.groupby('Sex').mean

In [ ]:
df.groupby('Survived')['Name'].count

In [ ]:
for name in df['Name'] [0:2]:
  print(name.upper())

KELLY, MR. JAMES
WILKES, MRS. JAMES (ELLEN NEEDS)

In [ ]:
[name.upper() for name in df['Name'] [0:2]]

['KELLY, MR. JAMES', 'WILKES, MRS. JAMES (ELLEN NEEDS)']

In [ ]:
def uppercase(x):
  return x.upper()
df['Name'].apply(uppercase)[0:2]

Name
Kelly, Mr. James                                    KELLY, MR. JAMES
Wilkes, Mrs. James (Ellen Needs)    WILKES, MRS. JAMES (ELLEN NEEDS)
Name: Name, dtype: object

In [ ]:
df.groupby('Sex').apply(lambda x: x.count())

/tmp/ipython-input-386111335.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('Sex').apply(lambda x: x.count())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,,
female,152,152,152,152,152,127,152,152,152,152,44,152
male,266,266,266,266,266,205,266,266,266,265,47,266